.side-pane {
    width: 20%;
    float: left;
    height: 100vh;
    background: #309ef2;
}

.map-container {
    display: block;
    width: 80vw;
    height: 99vh;
    float: left;
    overflow-y: hidden;  
    overflow-x: hidden;
    margin-top: 10px;
}

svg {
    border: 1px solid black;
    background-color: #8bbae1;
    margin: 5px;
    shape-rendering: optimizeSpeed;
}

.arteries, .freeways, .neighborhoods, .streets {
    stroke: #000000;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.map-msg {
    font-style: italic;
}

.zoom-ctrl button {
    padding: 10px 20px;
}

.vehicle-path {
    stroke-width: 3px;
    stroke: rgb(255, 255, 255);
}

.tooltip {
    width: 80%;
    height: 70px;
    margin: 0 auto;
}

.overlay {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

.spinner {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;

    position: absolute;
    top: 50%;
    left: 50%;

    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}

.spinner {
    border-style: double;
    border-color: #ccc transparent;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}